:root {
  --b1: #484848;
  --b2: #828282;
  --w1: #ffffff;
  --w2: #f0f0f0;
  --red1: #e7534c;
  --blue1: #007aff;
  --green1: #4ed273;
  --green2: #e4f8ea;
  --orange1: #eaa31a;
  --orange2: #fcf1dd;
  --pink1: #ed6f77;
  --pink2: #ff3a51;
}
