// 「:root」の意味は、このサイトに載っている → https://freelance-engineer.hatenablog.jp/entry/2023/02/25/011850
:root {
  --b1: #484848;
  --b2: #828282;
  --w1: #ffffff;
  --w2: #f0f0f0;
  --red1: #e7534c;
  --red2: #e00410;
  --blue1: #007aff;
  --blue2: #284881;
  --green1: #4ed273;
  --green2: #e4f8ea;
  --orange1: #eaa31a;
  --orange2: #fcf1dd;
  --pink1: #ed6f77;
  --pink2: #ff3a51;
  --gold1: linear-gradient(
    45deg,
    #b67b03 0%,
    #daaf08 45%,
    #fee9a0 70%,
    #daaf08 85%,
    #b67b03 90% 100%
  );
  --silver1: linear-gradient(
    45deg,
    #757575 0%,
    #9e9e9e 45%,
    #e8e8e8 70%,
    #9e9e9e 85%,
    #757575 90% 100%
  );
}
