// 共通スタイル
.neonText {
  color: #000000;
  text-shadow: 0 0 7px #ffffff, 0 0 10px #ffffff, 0 0 21px #ffffff,
    0 0 42px #00ffaa, 0 0 82px #00ffaa, 0 0 92px #00ffaa, 0 0 102px #00ffaa,
    0 0 151px #00ffaa;
}

/* 個別スタイル */

.container {
  background-color: #f0f0f0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  min-height: 100%;
  padding-top: 20vh;
  text-align: center;
  text-transform: uppercase;

  .pulsate {
    animation: pulsate 1.5s infinite alternate;
  }

  .status {
    display: block;
    font-size: 4.2rem;
  }

  .message {
    display: block;
    font-size: 1.8rem;
  }
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #ffffff, 0 0 11px #ffffff, 0 0 19px #ffffff,
      0 0 40px #00ffaa, 0 0 80px #00ffaa, 0 0 90px #00ffaa, 0 0 100px #00ffaa,
      0 0 150px #00ffaa;
  }

  0% {
    text-shadow: 0 0 2px #ffffff, 0 0 4px #ffffff, 0 0 6px #ffffff,
      0 0 10px #00ffaa, 0 0 45px #00ffaa, 0 0 55px #00ffaa, 0 0 70px #00ffaa,
      0 0 80px #00ffaa;
  }
}
